.banner {
  width: 100%;
  height: 285px;
  background-image: url(../img/home_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  
  p {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -120px;
    color: white;
    font-size: 2.5em;
    letter-spacing: 0.63em;
  }
}

#group_info {
  
  .group-id {
    color: #b4b4b4;
    font-weight: 100;
    max-width: 1040px;
    margin: auto;
    margin-top: 55px;
  }
  
  .main {
    height: 428px;
    max-width: 1040px;
    margin: auto;
    
    &>div {
      float: left;
    }
    
    .images{
    
      &>img { // first pic
        width: 376px;
        height: 228px;
        display: block;
        margin-bottom: 12px;
      }

      &>.wrap {
        &>img { // second pic
          width: 216px;
          height: 188px;
          float: left;
          margin-right: 12px;
        }

        &>.wrap {
          float: left;
          margin-bottom: -12px;

          img { // third and fourth pic
            width: 148px;
            height: 88px;
            display: block;
            margin-bottom: 12px

          }
        }
      }
    }
    
    .content {
      height: 100%;
      width: 408px;
      margin-left: 42px;
      position: relative;
      
      h1 {
        margin: 0;
        padding: 0;
        font-size: 1.38em;
        line-height: 2em;
      }

      hr {
        margin: 20px 0;
      }

      p {
        margin: 12px 0 0 0;
        font-weight: 300;
      }

      .progress {
        background: #f3f3f3;
        border: 0px solid rgba(255, 255, 255, 1);
        border-radius: 3px;
        height: 21px;
        margin: 20px 0;

          .progress-bar-custom {
            background: #f2a359;
          }
      }

      .add-to-fav {
        float: left;

        span {
          color: #F78B88;
          font-weight: bold;
          font-size: 1.2em;
          position: relative;
          top: 4px;
          margin-left: 0;
        }
      }

      .current-status {
        float: right;
        text-align: right;
        line-height: 1.5em;
        font-weight: 300;

        span {
          color: #e8334d;
          font-weight: bold;
        }
      }

      button {
        width: 100%;
        height: 48px;
        background-color: #22d2bb;
        border-radius: 5px;
        border: 0;
        border-bottom: 4px solid #23998a;
        border-right: 2px solid #23998a;
        color: white;
        font-size: 1.25em;
        line-height: 1.25em;
        font-weight: 300;
        letter-spacing: 0.3em;
        position: absolute;
        bottom: 0;

        img {
          height: 20px;
          position: relative;
          top: -4px;
          margin-right: 15px;
        }
      }
    }
    
    .sider{
      float: right;
      
      h5 {
        font-size: 1em;
        font-weight: 300;
        margin: 0;
        background-image: url(../img/pink_underline.jpg);
        background-position: left bottom;
        background-repeat: repeat-x;
      }
      
      .other-groups img {
        width: 140px;
        margin-top: 30px;
      }
    }
  }
  
}

