$darkgray: #646d7c;
$searchArea_border: 1px solid #97a2a7;
$border_radius: 5px;

/* General */
*{margin: 0; padding: 0;}

html {
  width: 100%;
  height: 100%;
  font-family: Arial,sans-serif;
  color: #313b4f;
  font-size: 100%;
  line-height: 1.5em;
  letter-spacing: 2px;
  text-decoration: none;
  position: relative;
}

body {
  @extend html;
  position: absolute;
  top: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.clear>* {
  float: left;
}

.pull-right {
  float: right;
}

li {
  list-style: none;
}

.glyphicon {
  margin: 0 10px;
}

/* header */
header {
  width: 100%;
  height: 85px;
  background-color: white;
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  
  #logo {
    margin-top: 30px;
    margin-left: 85px;
  }
  
  .service {
    height: inherit;
    
    li {
      height: inherit;
      line-height: 85px;
    }
    
    #launch {
      background-color: $darkgray;
      color: white;
      padding: 0 50px;
      
      &:hover {
        background-color: rgba(230, 230, 230, 0.9);
        color: $darkgray;
      }
    }
    
    .dropdown {
      position: relative;
      width: 290px;
      text-align: center;
      
      &:hover {
        background-color: rgba(230, 230, 230, 0.9);
      }
      
      .glyphicon-shopping-cart{
        font-size: 150%;
        top: 5px;
        margin-right: 20px;
      }
      
      .glyphicon-menu-down {
        font-size: 50%;
        margin-left: 20px;
      }

      .menu {
        display: none;
        position: absolute;
        top: 85px;
        right: 0;
        background-color: rgba(255, 255, 255, 0.95);
        width: inherit;
        
        &>li {
          line-height: 18px;
          padding: 20px 0;
          
          &:hover {background-color: rgba(242, 163, 89, 0.5);}
        }
      }
    }
  }
} 


/* jumbotron */
#jumbotron {
  padding: 0;
  width: 100%;
  //height: 100vh;
  
  #slider {
    width: 100%;
    height: 100%;

    .slides {
      width: 100%;
      height: 100%;
      
      li {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .dots {
      position: absolute;
      top: 50%;
      right: 20px;
      text-align: center;

      li {
        font-size: 150%;
        color: lightgray;
        text-shadow: 2px 2px 7px #696969;
        cursor: pointer;
      }
    }
  }
  
  .search-area {
    width: 50%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 25%;
    
    
    .search-bar {
	  height: 46px;
      position: relative;
      
      .search-input {
        width: 68%;
        height: inherit;
        border: 0;
        border: $searchArea_border;
        border-top-left-radius: $border_radius;
        border-bottom-left-radius: $border_radius;
        position: absolute;
        top: 0;
        position: relative;
        padding-left: 20px;
      }

      .search_category {
        width: 25%;
        height: inherit;
        background-color: white;
        border: 0;
        border-top: $searchArea_border;
        border-bottom: $searchArea_border;
        position: absolute;
        top: -1px;
        position: relative;
        
        option {
        }
      }

      .search-btn {
        width: 7%;
        height: inherit;
        border: 0;
        border: $searchArea_border;
        border-top-right-radius: $border_radius;
        border-bottom-right-radius: $border_radius;
        background-color: $darkgray;
        background-image: url(../img/icon/search_icon.png);
        background-size: contain;
        position: absolute;
        top: 0;
      }
    }
    
    .link-btn {
	  margin-top: 35px;
      margin-left: -20px;
      
      .btn-wrapper {
	    width: 50%;
        padding-left: 20px;
        float: left;
        
        button.see-nearby {
          width: 100%;
          background-color: #22d2bb;
          border: 0;
          border-right: 2px solid #23998a;
          border-bottom: 3px solid #23998a;
          border-radius: $border_radius;
          color: white;
          letter-spacing: 2px;
          padding: 14px;
          font-size: 115%;
        }
        
        button.view-all {
          @extend button.see-nearby;
          background-color: #f2a359;
          border-bottom-color: #dc8b40;
          border-right-color: #dc8b40;
        }
      }
    }
  }
}


/* section1_see nearby */
#view-nearby {
  width: 100%;
  height: 425px;
}

#map,#list {
  width: 50%;
  height: inherit;
}

#list li {
  height: 85px;
  border-bottom: 1px solid #d0d7db;
}


/* section2_view_items */

#view-items{
  

  #sort-tag {
    margin: 55px 0 30px -25px;

    button {
        background-color: white;
        padding: 5px 30px;
        letter-spacing: 2px;
        font-size: 87%;
        border: 0;
        border-radius: $border_radius;
        margin-left: 25px;

      &:hover {
        background-color: #f5f5f5;
      }

      &.active {
        background-color: $darkgray;
        color: white;
      }
    }
  }

  
  //}  #grid
} // #view-items









#myCarousel {
  margin-bottom: 55px;

  .carousel-inner {
    padding: 0;
    
	.wrap {
      margin-left: -20px;
      margin-bottom: 0;
          
      .item-wrapper {
        width: 25%;
        padding-left: 20px;
        box-sizing: border-box;

        .item {
          width: 100%;
          border: 1px solid #d0d7db;

          .item-thumb img {
            width: 100%;
          }

          .content {
            padding: 17px;

            .title {
              height: 50px;

              p {
                margin: 0;
                font-weight: bold;
              }
            }

            .initiator {
              color: #6e747f;
              font-size: 75%;

              p {
                margin: 5px 0 0 0;
              }

              .location {
                float: right;
              }
            }

            .progress {
              background: #f3f3f3;
              border: 0px solid rgba(255, 255, 255, 1);
              border-radius: 3px;
              height: 12px;
              margin: 15px 0 15px 0;

                .progress-bar-custom {
                  background: #f2a359;
                }
            }

            .price {
              color: #cb3c3c;
              font-weight: bold;
              margin: 0;
            }

            .deadline {
              @extend .initiator;
              float: right;
            }
          } // .content
        } // .item
      } // .item-wrapper
    } // .wrap
  } // .carousel-inner
  
  .carousel-control {
    background-image: none;
    width: initial;
    color: #948f86;
    text-shadow: none;
    opacity: 1;
    
    &.left {
      left: -40px;
    }
    
    &.right {
      right: -40px;
    }
    
    span {
      font-size: 200%;
    }
  } // .carousel-control
} // #myCarousel


/* footer */
footer {
  height: 300px;
  background-color: #2c3443;
}